.admin-register-service{
    width: 100%;
}

.admin-register-service h2{
    margin: 30px 45px 5px 45px;
    padding: 5px;
    border-bottom: 1px solid #3AC43A;
    font-family: 'Montserrat', sans-serif;
}

.admin-register-service form{
    width: 100%;
    margin: 0;
}

.division-form{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.subdivision-form{
    width: 25%;
}

.button-division{
    width: 100%;
    display: flex;
}