.principal-container{
    display: flex;
}

.informacion-empresa{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0.2rem; 
    align-items: center;
}

.about-us{
    padding: 1rem;
    margin-left: 2rem;
}

.img-information{
    margin: 0 2rem;
    background-image: url('../../Public/Imgs/background-logo-information.jpg');
    background-position: 50%;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-information img{
    width: 35%;
    transition: .5s;
}

.img-information img:hover{
    scale: 1.1;
    filter: drop-shadow(0 0 5px #121212);
}

.text-information h2{
    margin-bottom: 1rem;
}

.text-information p{
    width: 90%;
    font-size: 1.1rem;
}