.box-text-category{
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.principal-container-category{
    display: flex;
    height: 5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.box-container-category{
    width: 17%;
    height: 20%;
    display: flex;
    align-items: center;
    box-shadow: 2rem;
    border-radius: 4rem;
    margin: 1rem;
    padding: 1rem;
    transition: .5s;
    border: solid #000000;
    border-width: 0.15rem;
}

.box-container-category:hover{
    background-color: #AF601A;
    color: #ffffff;
}

.box-container-category h2{
    width: 100%;
    display: flex;
    font-size: 1rem;
    justify-content: center;
}

.box-container-category img{
    width: 27%;
}