.box-text-category{
    margin: 1rem;
}

.principal-container-category{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem ; 
    justify-content: center;
}

.box-container-category{
    width: 16%; 
    display: flex;
    align-items: center;
    border: solid;
    border-radius: 0.5rem;
    border-width: 0.15rem;  
    box-shadow: 2rem;
    padding: 0.5rem;
    margin: 0.1rem;
    transition: .5s;
}

.box-container-category:hover{
    background-color: #AF601A;
    color: #ffffff;
}

.box-container-category h2{
    width: 100%;
    display: flex;
    font-size: 1.4rem;
    justify-content: center;
}

.box-container-category img{
    width: 25%;
}